In [ ]:
# Importing packages

import pandas as pd
import numpy as np
from scipy import stats
import scipy.stats as st
from statsmodels.stats.multicomp import pairwise_tukeyhsd

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Combining all worksheets into a dataframe

df = pd.concat(pd.read_excel('/content/drive/MyDrive/Data Science/Agoda/Case_Study_Urgency_Message_Data.xlsx', sheet_name=None), ignore_index=True)

In [ ]:
# Calculating number of days stay

df['days_stay'] = (df['checkout_date'] - df['checkin_date']) / np.timedelta64(1, 'D')

In [ ]:
# Calculating number of days between booking and checking in

df['days_between_booking_checking'] = (df['checkin_date'] - df['booking_date'])/ np.timedelta64(1, 'D')
df['Days_Booked_Early'] = pd.cut(df['days_between_booking_checking'], 5)

In [ ]:
# Calculating price tiers

df['Price_Tier'] = pd.cut(df['ADR_USD'], 5, labels=["budget", "low", "medium", "high", "luxury"])

In [ ]:
df.head()

   #  ADR_USD  ...  Days_Booked_Early  Price_Tier
0  1    71.06  ...       (47.8, 60.0]      budget
1  2    76.56  ...       (47.8, 60.0]      budget
2  3   153.88  ...       (47.8, 60.0]      budget
3  4   126.60  ...       (47.8, 60.0]      budget
4  5   115.08  ...       (47.8, 60.0]      budget

[5 rows x 14 columns]

In [ ]:
df = df.drop(columns=["#"])

In [ ]:
len(df)

49064

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49064 entries, 0 to 49063
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ADR_USD                        49064 non-null  float64
 1   hotel_id                       49064 non-null  int64
 2   city_id                        49064 non-null  int64
 3   star_rating                    49064 non-null  float64
 4   accommodation_type_name        49064 non-null  object
 5   chain_hotel                    49064 non-null  object
 6   booking_date                   49064 non-null  datetime64[ns]
 7   checkin_date                   49064 non-null  datetime64[ns]
 8   checkout_date                  49064 non-null  datetime64[ns]
 9   days_stay                      49064 non-null  float64
 10  days_between_booking_checking  49064 non-null  float64
 11  Days_Booked_Early              49064 non-null  category
 12  Price_Tier                     49064 non-null  category
dtypes: category(2), datetime64[ns](3), float64(4), int64(2), object(2)
memory usage: 4.2+ MB

In [ ]:
df.isna().sum()

ADR_USD                          0
hotel_id                         0
city_id                          0
star_rating                      0
accommodation_type_name          0
chain_hotel                      0
booking_date                     0
checkin_date                     0
checkout_date                    0
days_stay                        0
days_between_booking_checking    0
Days_Booked_Early                0
Price_Tier                       0
dtype: int64

In [ ]:
for col in df.columns:
    print(col, '\n', df[col].value_counts(normalize=True).head(), '\n\n' )

ADR_USD
 36.0    0.001203
38.0    0.001039
52.0    0.000999
50.0    0.000897
40.0    0.000815
Name: ADR_USD, dtype: float64


hotel_id
 197996     0.054602
21272      0.026781
219762     0.026170
16146      0.023255
1545890    0.021156
Name: hotel_id, dtype: float64


city_id
 9395     0.455854
16808    0.206913
5085     0.138533
17193    0.100522
8584     0.098178
Name: city_id, dtype: float64


star_rating
 3.0    0.301626
4.0    0.295288
3.5    0.128302
5.0    0.083157
1.0    0.069236
Name: star_rating, dtype: float64


accommodation_type_name
 Hotel                            0.722342
Resort                           0.071845
Serviced Apartment               0.057007
Hostel                           0.056538
Guest House / Bed & Breakfast    0.056212
Name: accommodation_type_name, dtype: float64


chain_hotel
 non-chain    0.73021
chain        0.26979
Name: chain_hotel, dtype: float64


booking_date
 2016-10-06    0.012698
2016-10-05    0.012616
2016-11-07    0.012555
2016-11-02    0.012351
2016-11-15    0.012188
Name: booking_date, dtype: float64


checkin_date
 2016-12-31    0.019199
2016-12-10    0.017080
2016-12-30    0.016163
2016-10-22    0.015429
2016-10-08    0.015347
Name: checkin_date, dtype: float64


checkout_date
 2017-01-01    0.017977
2016-11-20    0.017141
2016-11-27    0.016346
2016-11-13    0.015918
2016-10-09    0.015714
Name: checkout_date, dtype: float64


days_stay
 1.0    0.512412
2.0    0.298895
3.0    0.188692
Name: days_stay, dtype: float64


days_between_booking_checking
 1.0    0.115482
0.0    0.114198
2.0    0.060370
3.0    0.049527
4.0    0.041782
Name: days_between_booking_checking, dtype: float64


Days_Booked_Early
 (-1.061, 11.2]    0.571804
(11.2, 23.4]      0.183047
(23.4, 35.6]      0.112262
(35.6, 47.8]      0.076533
(47.8, 60.0]      0.056355
Name: Days_Booked_Early, dtype: float64


Price_Tier
 budget    0.989830
low       0.008703
medium    0.001121
high      0.000285
luxury    0.000061
Name: Price_Tier, dtype: float64

In [ ]:
for col in df.columns:
    print(col, '\n', len(df[col].unique()))

ADR_USD
 20210
hotel_id
 880
city_id
 5
star_rating
 10
accommodation_type_name
 16
chain_hotel
 2
booking_date
 151
checkin_date
 92
checkout_date
 94
days_stay
 3
days_between_booking_checking
 62
Days_Booked_Early
 5
Price_Tier
 5

In [ ]:
df.describe()

            ADR_USD      hotel_id  ...     days_stay  days_between_booking_checking
count  49064.000000  4.906400e+04  ...  49064.000000                   49064.000000
mean     148.089095  7.921256e+05  ...      1.676280                      14.529472
std      135.338544  7.559906e+05  ...      0.772219                      15.680648
min        4.260000  7.700000e+02  ...      1.000000                      -1.000000
25%       62.555000  1.979960e+05  ...      1.000000                       2.000000
50%      113.660000  5.260860e+05  ...      1.000000                       8.000000
75%      192.220000  1.249476e+06  ...      2.000000                      23.000000
max     3156.860000  5.211366e+06  ...      3.000000                      60.000000

[8 rows x 6 columns]

In [ ]:
# Writing a helper function to calculate the Welch's t-value

def welch_t(a, b):

    numerator = np.mean(a) - np.mean(b)
    
    denominator = np.sqrt((np.var(a, ddof=1)/len(a)) + (np.var(b, ddof=1)/len(b)))
    
    return np.abs(numerator/denominator)

# Writing a helper function to calculate the Welch's df

def welch_df(a, b):
    
    s1 = np.var(a, ddof=1) 
    s2 = np.var(b, ddof=1)
    n1 = len(a)
    n2 = len(b)
    
    numerator = (s1/n1 + s2/n2)**2
    denominator = (s1/ n1)**2/(n1 - 1) + (s2/ n2)**2/(n2 - 1)
    
    return numerator/denominator

# Writing a function to calculate the Welch's p-value

def p_value(a, b, two_sided=False):

    t = welch_t(a, b)
    df = welch_df(a, b)
    
    p = 1-st.t.cdf(np.abs(t), df)
    
    if two_sided:
        return 2*p
    else:
        return p

In [ ]:
# creating two data sets based on chain vs non-chain

chain = df[df['chain_hotel']=='chain']['ADR_USD']
non_chain = df[df['chain_hotel']=='non-chain']['ADR_USD']

In [ ]:
# Performing Welch's t-test between chain vs non-chain

print("Median Values: \ts1: {} \ts2: {}".format(round(np.median(chain), 2), round(np.median(non_chain), 2)))
print("Mean Values: \ts1: {} \ts2: {}".format(round(np.mean(chain), 2), round(np.mean(non_chain), 2)))
print('Sample sizes: \ts1: {} \ts2: {}'.format(len(chain), len(non_chain)))
print("Welch's t-test p-value:", p_value(chain, non_chain, two_sided=True))

Median Values: 	s1: 161.0 	s2: 91.64
Mean Values: 	s1: 200.18 	s2: 128.84
Sample sizes: 	s1: 13237 	s2: 35827
Welch's t-test p-value: 0.0

In [ ]:
# Tukey testing between days booked early

print(pairwise_tukeyhsd(df['ADR_USD'], df['Days_Booked_Early'], 0.05))

       Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================================
    group1        group2    meandiff p-adj   lower   upper  reject
------------------------------------------------------------------
(-1.061, 11.2] (11.2, 23.4]  23.4011  0.001 18.9515 27.8506   True
(-1.061, 11.2] (23.4, 35.6]  28.0666  0.001 22.6578 33.4754   True
(-1.061, 11.2] (35.6, 47.8]  31.6749  0.001 25.2975 38.0524   True
(-1.061, 11.2] (47.8, 60.0]  42.4082  0.001 35.0928 49.7236   True
  (11.2, 23.4] (23.4, 35.6]   4.6655 0.2533 -1.6155 10.9466  False
  (11.2, 23.4] (35.6, 47.8]   8.2739 0.0135  1.1417 15.4061   True
  (11.2, 23.4] (47.8, 60.0]  19.0071  0.001 11.0252 26.9891   True
  (23.4, 35.6] (35.6, 47.8]   3.6083 0.6861 -4.1586 11.3753  False
  (23.4, 35.6] (47.8, 60.0]  14.3416  0.001  5.7877 22.8954   True
  (35.6, 47.8] (47.8, 60.0]  10.7332 0.0127  1.5363 19.9302   True
------------------------------------------------------------------

In [ ]:
# Tukey testing between days_stay

print(pairwise_tukeyhsd(df['ADR_USD'], df['days_stay'], 0.05))

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
   1.0    2.0  21.4065 0.001 18.1211  24.692   True
   1.0    3.0  22.1422 0.001 18.2983 25.9861   True
   2.0    3.0   0.7357   0.9 -3.4615  4.9328  False
---------------------------------------------------

In [ ]:
# Tukey testing between price tiers

print(pairwise_tukeyhsd(df['ADR_USD'], df['Price_Tier'], 0.05))

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
group1 group2  meandiff  p-adj   lower      upper    reject
-----------------------------------------------------------
budget   high  2131.0939 0.001  2056.0673  2206.1206   True
budget    low    684.908 0.001   671.2652   698.5508   True
budget luxury  2638.9558 0.001  2476.8981  2801.0135   True
budget medium  1333.4353 0.001  1295.5665  1371.3041   True
  high    low -1446.1859 0.001 -1522.4216 -1369.9502   True
  high luxury   507.8619 0.001   329.2885   686.4353   True
  high medium  -797.6586 0.001  -881.6812   -713.636   True
   low luxury  1954.0478 0.001  1791.4268  2116.6688   True
   low medium   648.5273 0.001   608.3163   688.7383   True
luxury medium -1305.5205 0.001 -1471.9341 -1139.1068   True
-----------------------------------------------------------

In [ ]:
# Tukey testing between accomodation types

print(pairwise_tukeyhsd(df['ADR_USD'], df['accommodation_type_name'], 0.05))

                          Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================================================================
            group1                        group2             meandiff p-adj    lower     upper   reject
-------------------------------------------------------------------------------------------------------
                    Apartment                      Bungalow  -124.444  0.001 -172.0174  -76.8705   True
                    Apartment                 Capsule Hotel -134.9972  0.001 -167.9937 -102.0007   True
                    Apartment Guest House / Bed & Breakfast -110.5466  0.001 -140.8222   -80.271   True
                    Apartment   Holiday Park / Caravan Park  -98.1175    0.9  -358.969  162.7339  False
                    Apartment                          Home    -1.839    0.9 -125.3036  121.6256  False
                    Apartment                        Hostel -107.5284  0.001  -137.797  -77.2598   True
                    Apartment                         Hotel  -38.1794  0.001  -67.3205   -9.0383   True
                    Apartment                    Love Hotel   37.1336    0.9 -223.7179   297.985  False
                    Apartment                         Motel -168.2425  0.001 -259.4026  -77.0823   True
                    Apartment                 Private Villa  142.6536  0.001   32.9107  252.3965   True
                    Apartment                        Resort   -5.3284    0.9  -35.3402   24.6833  False
                    Apartment                  Resort Villa   63.1828  0.001   26.4225   99.9431   True
                    Apartment                        Ryokan   118.465  0.001   65.5425  171.3876   True
                    Apartment            Serviced Apartment -106.2389  0.001 -136.4977  -75.9802   True
                    Apartment                         Villa -142.0197    0.9 -591.9568  307.9173  False
                     Bungalow                 Capsule Hotel  -10.5532    0.9  -51.3573   30.2509  False
                     Bungalow Guest House / Bed & Breakfast   13.8973    0.9  -24.7396   52.5343  False
                     Bungalow   Holiday Park / Caravan Park   26.3264    0.9 -235.6272    288.28  False
                     Bungalow                          Home  122.6049 0.0658   -3.1715  248.3813  False
                     Bungalow                        Hostel   16.9156    0.9  -21.7159   55.5471  False
                     Bungalow                         Hotel   86.2646  0.001     48.51  124.0191   True
                     Bungalow                    Love Hotel  161.5775 0.7261  -100.376  423.5311  False
                     Bungalow                         Motel  -43.7985    0.9 -138.0661   50.4691  False
                     Bungalow                 Private Villa  267.0975  0.001  154.7601   379.435   True
                     Bungalow                        Resort  119.1155  0.001   80.6849  157.5461   True
                     Bungalow                  Resort Villa  187.6267  0.001  143.7231  231.5303   True
                     Bungalow                        Ryokan   242.909  0.001  184.7971  301.0209   True
                     Bungalow            Serviced Apartment    18.205    0.9  -20.4187   56.8288  False
                     Bungalow                         Villa  -17.5758    0.9 -468.1528  433.0012  False
                Capsule Hotel Guest House / Bed & Breakfast   24.4506  0.001    6.6082    42.293   True
                Capsule Hotel   Holiday Park / Caravan Park   36.8797    0.9 -222.8225  296.5818  False
                Capsule Hotel                          Home  133.1581 0.0154   12.1406  254.1757   True
                Capsule Hotel                        Hostel   27.4688  0.001    9.6382   45.2994   True
                Capsule Hotel                         Hotel   96.8178  0.001   80.9766   112.659   True
                Capsule Hotel                    Love Hotel  172.1308 0.6241  -87.5714  431.8329  False
                Capsule Hotel                         Motel  -33.2453    0.9 -121.0628   54.5722  False
                Capsule Hotel                 Private Villa  277.6508  0.001  170.6683  384.6332   True
                Capsule Hotel                        Resort  129.6687  0.001  112.2777  147.0597   True
                Capsule Hotel                  Resort Villa    198.18  0.001   170.738   225.622   True
                Capsule Hotel                        Ryokan  253.4622  0.001   206.531  300.3934   True
                Capsule Hotel            Serviced Apartment   28.7583  0.001   10.9444   46.5721   True
                Capsule Hotel                         Villa   -7.0226    0.9 -456.2943  442.2492  False
Guest House / Bed & Breakfast   Holiday Park / Caravan Park   12.4291    0.9 -246.9414  271.7996  False
Guest House / Bed & Breakfast                          Home  108.7076  0.131  -11.5966  229.0117  False
Guest House / Bed & Breakfast                        Hostel    3.0182    0.9   -9.0554   15.0918  False
Guest House / Bed & Breakfast                         Hotel   72.3672  0.001   63.4912   81.2433   True
Guest House / Bed & Breakfast                    Love Hotel  147.6802 0.8314 -111.6903  407.0507  False
Guest House / Bed & Breakfast                         Motel  -57.6959 0.6205 -144.5276   29.1359  False
Guest House / Bed & Breakfast                 Private Villa  253.2002  0.001  147.0254   359.375   True
Guest House / Bed & Breakfast                        Resort  105.2182  0.001   93.8038  116.6325   True
Guest House / Bed & Breakfast                  Resort Villa  173.7294  0.001  149.6274  197.8314   True
Guest House / Bed & Breakfast                        Ryokan  229.0116  0.001  183.9519  274.0714   True
Guest House / Bed & Breakfast            Serviced Apartment    4.3077    0.9   -7.7411   16.3565  False
Guest House / Bed & Breakfast                         Villa  -31.4731    0.9 -480.5533   417.607  False
  Holiday Park / Caravan Park                          Home   96.2785    0.9 -189.3786  381.9355  False
  Holiday Park / Caravan Park                        Hostel   -9.4109    0.9 -268.7805  249.9588  False
  Holiday Park / Caravan Park                         Hotel   59.9382    0.9 -199.3024  319.1787  False
  Holiday Park / Caravan Park                    Love Hotel  135.2511    0.9 -231.3548  501.8571  False
  Holiday Park / Caravan Park                         Motel  -70.1249    0.9 -343.3769   203.127  False
  Holiday Park / Caravan Park                 Private Villa  240.7711 0.1924  -39.2288   520.771  False
  Holiday Park / Caravan Park                        Resort   92.7891    0.9 -166.5507  352.1289  False
  Holiday Park / Caravan Park                  Resort Villa  161.3003 0.7193  -98.9068  421.5075  False
  Holiday Park / Caravan Park                        Ryokan  216.5826 0.2565  -46.3951  479.5602  False
  Holiday Park / Caravan Park            Serviced Apartment   -8.1214    0.9 -267.4899  251.2471  False
  Holiday Park / Caravan Park                         Villa  -43.9022    0.9 -562.3613  474.5569  False
                         Home                        Hostel -105.6894 0.1648 -225.9917    14.613  False
                         Home                         Hotel  -36.3403    0.9  -156.364   83.6833  False
                         Home                    Love Hotel   38.9726    0.9 -246.6844  324.6297  False
                         Home                         Motel -166.4034 0.0112 -314.2772  -18.5297   True
                         Home                 Private Villa  144.4926 0.1316  -15.5073  304.4926  False
                         Home                        Resort   -3.4894    0.9 -123.7274  116.7486  False
                         Home                  Resort Villa   65.0218    0.9  -57.0757  187.1193  False
                         Home                        Ryokan  120.3041 0.0923   -7.5915  248.1996  False
                         Home            Serviced Apartment -104.3999 0.1799 -224.6998      15.9  False
                         Home                         Villa -140.1807    0.9 -604.9386  324.5771  False
                       Hostel                         Hotel    69.349  0.001   60.4967   78.2013   True
                       Hostel                    Love Hotel   144.662 0.8572 -114.7077  404.0317  False
                       Hostel                         Motel  -60.7141 0.5433 -147.5434   26.1153  False
                       Hostel                 Private Villa   250.182  0.001  144.0091  356.3548   True
                       Hostel                        Resort  102.1999  0.001   90.8041  113.5958   True
                       Hostel                  Resort Villa  170.7112  0.001   146.618  194.8044   True
                       Hostel                        Ryokan  225.9934  0.001  180.9384  271.0484   True
                       Hostel            Serviced Apartment    1.2895    0.9  -10.7418   13.3208  False
                       Hostel                         Villa  -34.4914    0.9  -483.571  414.5883  False
                        Hotel                    Love Hotel    75.313    0.9 -183.9276  334.5535  False
                        Hotel                         Motel -130.0631  0.001 -216.5059  -43.6203   True
                        Hotel                 Private Villa   180.833  0.001   74.9761  286.6898   True
                        Hotel                        Resort   32.8509  0.001   24.9213   40.7806   True
                        Hotel                  Resort Villa  101.3622  0.001   78.7017  124.0226   True
                        Hotel                        Ryokan  156.6444  0.001   112.339  200.9498   True
                        Hotel            Serviced Apartment  -68.0596  0.001   -76.878  -59.2411   True
                        Hotel                         Villa -103.8404    0.9 -552.8455  345.1647  False
                   Love Hotel                         Motel  -205.376 0.4209  -478.628   67.8759  False
                   Love Hotel                 Private Villa    105.52    0.9 -174.4799  385.5199  False
                   Love Hotel                        Resort   -42.462    0.9 -301.8019  216.8778  False
                   Love Hotel                  Resort Villa   26.0492    0.9  -234.158  286.2564  False
                   Love Hotel                        Ryokan   81.3315    0.9 -181.6462  344.3091  False
                   Love Hotel            Serviced Apartment -143.3725 0.8682  -402.741   115.996  False
                   Love Hotel                         Villa -179.1533    0.9 -697.6124  339.3058  False
                        Motel                 Private Villa   310.896  0.001  174.2701   447.522   True
                        Motel                        Resort   162.914  0.001   76.1739  249.6542   True
                        Motel                  Resort Villa  231.4253  0.001  142.1254  320.7251   True
                        Motel                        Ryokan  286.7075  0.001  189.6305  383.7845   True
                        Motel            Serviced Apartment   62.0035 0.5103  -24.8224  148.8295  False
                        Motel                         Villa   26.2227    0.9 -431.0152  483.4607  False
                Private Villa                        Resort  -147.982  0.001 -254.0819  -41.8821   True
                Private Villa                  Resort Villa  -79.4708 0.4633 -187.6734   28.7318  False
                Private Villa                        Ryokan  -24.1885    0.9 -138.8937   90.5166  False
                Private Villa            Serviced Apartment -248.8925  0.001 -355.0625 -142.7225   True
                Private Villa                         Villa -284.6733 0.7255 -745.9757   176.629  False
                       Resort                  Resort Villa   68.5112  0.001   44.7415    92.281   True
                       Resort                        Ryokan  123.7935  0.001   78.9106  168.6763   True
                       Resort            Serviced Apartment -100.9105  0.001 -112.2801  -89.5408   True
                       Resort                         Villa -136.6913    0.9 -585.7537  312.3711  False
                 Resort Villa                        Ryokan   55.2822  0.013    5.6326  104.9319   True
                 Resort Villa            Serviced Apartment -169.4217  0.001 -193.5025 -145.3409   True
                 Resort Villa                         Villa -205.2025    0.9 -654.7664  244.3613  False
                       Ryokan            Serviced Apartment  -224.704  0.001 -269.7524 -179.6556   True
                       Ryokan                         Villa -260.4848 0.8137 -711.6579  190.6883  False
           Serviced Apartment                         Villa  -35.7808    0.9 -484.8598  413.2982  False
-------------------------------------------------------------------------------------------------------

In [ ]:
# Tukey testing between cities

print(pairwise_tukeyhsd(df['ADR_USD'], df['city_id'], 0.05))

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2  meandiff p-adj    lower     upper   reject
---------------------------------------------------------
  5085   8584  -82.7709  0.001  -89.1344  -76.4075   True
  5085   9395  -124.331  0.001 -129.0106 -119.6513   True
  5085  16808   -5.9912 0.0173  -11.2865    -0.696   True
  5085  17193 -106.5209  0.001 -112.8408  -100.201   True
  8584   9395    -41.56  0.001  -46.9268  -36.1933   True
  8584  16808   76.7797  0.001   70.8684   82.6909   True
  8584  17193    -23.75  0.001  -30.5943  -16.9057   True
  9395  16808  118.3397  0.001  114.2964  122.3831   True
  9395  17193   17.8101  0.001    12.495   23.1251   True
 16808  17193 -100.5297  0.001  -106.394  -94.6653   True
---------------------------------------------------------

In [ ]:
# Tukey testing between star ratings

print(pairwise_tukeyhsd(df['ADR_USD'], df['star_rating'], 0.05))

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================
group1 group2 meandiff p-adj   lower    upper   reject
------------------------------------------------------
   0.0    1.0  41.0679  0.001  10.9657  71.1702   True
   0.0    1.5  18.5417 0.7665 -15.8715  52.9549  False
   0.0    2.0   4.6253    0.9 -25.8015  35.0521  False
   0.0    2.5  17.8514 0.6816 -12.7979  48.5007  False
   0.0    3.0  83.2917  0.001  53.7536 112.8298   True
   0.0    3.5  43.8796  0.001  14.1132  73.6461   True
   0.0    4.0 142.2683  0.001 112.7265   171.81   True
   0.0    4.5 117.0062  0.001  85.4256 148.5869   True
   0.0    5.0 231.6637  0.001 201.6831 261.6443   True
   1.0    1.5 -22.5262 0.0074 -41.6433  -3.4092   True
   1.0    2.0 -36.4427  0.001  -46.786 -26.0993   True
   1.0    2.5 -23.2165  0.001  -34.197 -12.2359   True
   1.0    3.0  42.2238  0.001  34.8962  49.5514   True
   1.0    3.5   2.8117    0.9   -5.388  11.0114  False
   1.0    4.0 101.2003  0.001  93.8581 108.5426   True
   1.0    4.5  75.9383  0.001  62.5768  89.2998   True
   1.0    5.0 190.5958  0.001 181.6499 199.5417   True
   1.5    2.0 -13.9164   0.43 -33.5405   5.7077  False
   1.5    2.5  -0.6903    0.9 -20.6576  19.2771  False
   1.5    3.0    64.75  0.001  46.5342  82.9658   True
   1.5    3.5   25.338  0.001   6.7542  43.9218   True
   1.5    4.0 123.7266  0.001 105.5049 141.9483   True
   1.5    4.5  98.4646  0.001  77.0952  119.834   True
   1.5    5.0  213.122  0.001 194.1971 232.0469   True
   2.0    2.5  13.2262  0.015   1.3848  25.0675   True
   2.0    3.0  78.6664  0.001  70.1026  87.2302   True
   2.0    3.5  39.2544  0.001  29.9334  48.5753   True
   2.0    4.0  137.643  0.001 129.0666 146.2193   True
   2.0    4.5  112.381  0.001  98.3035 126.4584   True
   2.0    5.0 227.0384  0.001 217.0548 237.0221   True
   2.5    3.0  65.4403  0.001  56.1168  74.7637   True
   2.5    3.5  26.0282  0.001  16.0048  36.0516   True
   2.5    4.0 124.4168  0.001 115.0818 133.7518   True
   2.5    4.5  99.1548  0.001  84.6027 113.7069   True
   2.5    5.0 213.8123  0.001 203.1698 224.4547   True
   3.0    3.5  -39.412  0.001 -45.2077 -33.6164   True
   3.0    4.0  58.9766  0.001  54.4751   63.478   True
   3.0    4.5  33.7146  0.001  21.6778  45.7513   True
   3.0    5.0  148.372  0.001 141.5615 155.1825   True
   3.5    4.0  98.3886  0.001  92.5744 104.2028   True
   3.5    4.5  73.1266  0.001  60.5399  85.7133   True
   3.5    5.0  187.784  0.001 180.0429 195.5252   True
   4.0    4.5  -25.262  0.001 -37.3077 -13.2163   True
   4.0    5.0  89.3954  0.001  82.5691  96.2217   True
   4.5    5.0 114.6574  0.001 101.5724 127.7425   True
------------------------------------------------------

In [ ]:
df.to_excel("/content/drive/MyDrive/Data Science/Agoda/agoda_output.xlsx")